.blockTask {
  margin-top: 20px;
  padding-inline: 30px;
  height: 72px;
  border-radius: 40px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #7a7a7a;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: all 0.3s ease;

  &:hover{
    cursor: pointer;
    background-color: #a5a5a5;
  }

  h2 {
    font-weight: var(--text-weight);
    font-size: 25px;
    color: #fff;
  }

  .blockTaskRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    p {
      font-weight: 200;
      font-size: 20px;
      color: #fff;
    }

    svg {
      path {
        fill: white;
        transition: fill 0.3s ease;
      }

      &:hover path{
        fill: #cb1313;
        cursor: pointer;
      }
    }
  }
}
