.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.confrim {
  width: 90%;
  max-width: 600px;
  text-align: center;
  border-radius: 40px;
  font-weight: 400;
  font-size: 25px;
  color: var(--text-color);
  background-color: var(--main-color);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

  p {
    padding-top: 32px;
    padding-inline: 87px;
    margin-bottom: 20px;
  }

  .confrimButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-inline: 93px;
    padding-bottom: 32px;
    button {
      width: 100%;
      border-radius: 40px;
      padding-block: 18px;
      box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
      border: none;
      font-size: 25px;
      font-weight: var(--text-weight);
      color: #fff;
      transition: background-color 0.3s ease;

      &:first-child {
        background-color: var(--button-color);

        &:hover {
          background-color: #4c71f9;
        }
      }

      &:last-child {
        background-color: #7a7a7a;

        &:hover {
          background-color: #9e9e9e;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
