.componentCard {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 17px 10px 5px 10px ;
  background: rgba(4, 60, 255, 0.49);
  border-radius: 20px;
  cursor: grab;
  transition: all 0.3s ease;

  &:hover {
    background: rgba(4, 58, 255, 0.611);
    transform: translateY(-2px);
  }

  &:active {
    cursor: grabbing;
  }
}

.componentIcon {
  margin-bottom: 3px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.componentName {
  font-size: 13px;
  font-weight: var(--text-weight);
  color: #ffffff;
}
