.switch {
  position: absolute;
  right: 1%;
  top: 1%;
  z-index: 100;

  label {
    position: relative;
    display: inline-block;
    cursor: pointer;

    input {
      opacity: 0;
      width: 0;
      height: 0;
      position: absolute;

      &:checked + span {
        background-color: #2196f3;

        &::before {
          transform: translateX(24px);

          background: white url('https://i.ibb.co/FxzBYR9/night.png');
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &:focus + span {
        box-shadow: 0 0 1px #043CFF;
      }
    }

    span {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      background-color: #ccc;
      border-radius: 34px;
      transition: 0.4s;

      &::before {
        content: '';
        position: absolute;
        height: 38px;
        width: 38px;
        top: -1px;
        left: -1px;
        background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        box-shadow: 0 0px 15px rgba(32, 32, 32, 0.3);
        transition: 0.4s;
      }
    }
  }
}
